@charset "UTF-8";



#main{
    width:700px;
    background-color: #ccffcc;
}

#menu{
    width:300px;
    background-color:#ccccff;

}

header{
    width:1000px;
    background-color: #ffcccc;
}

footer{
    width:1000px;
    background-color: #ffccff;
}

#wrapper{
    width:1000px;
    display: flex;
    justify-content: space-between;
}
